<!--
<h3 class="text-center">Person Detail</h3>

<label for=""></label>
<input type="text" name="id" id="id" placeholder="Id">
<input type="text" name="firstname" id="firstname" placeholder="First Name">
<input type="text" name="middlename" id="middlename" placeholder="Middle Name">
<input type="text" name="lastname" id="lastname" placeholder="Last Name">
-->

<h3 class="text-center">Person Detail</h3>

<!--vedant patel-->

<div *ngIf="person">
<form class="row g-3 border border-primary" style="margin: 20px;">

    <div class="row g-3">
        <label> Name:</label>
        <div class="col">
          <input name="firstname" [(ngModel)]="person.firstname" type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Middle name" aria-label="Middle name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div>

    <div class="col-md-6">
        <label for="inputGender" class="form-label">Gender:</label>
        <input type="text" class="form-control" id="inputGender" placeholder="">
    </div>

    <div class="col-md-6">
        <label for="inputDOB" class="form-label">Date of Birth</label>
        <div>
            <input type="date" id="inputDOB" class="form-control">
        </div>

    </div>

    <div class="col-md-6">
        <label for="inputMobileNo" class="form-label">Moblie No:</label>
        <input type="tel" name="" id="inputMobileNo" class="form-control">
    </div>

    <div class="col-md-6">
        <label for="inputWhatsappNo" class="form-label ">Whatsapp No:</label>
        <input type="tel" name="" id="inputWhatsappNo" class="form-control">
    </div>

    <div class="col-md-6">
        <label for="inputComName" class="form-label">Community:</label>
        <input type="text" name="" id="inputComName" class="form-control">
    </div>

    <div class="col-md-6">
        <label for="inputOccupation" class="form-label">Occupation:</label>
        <input type="text" name="" id="inputOccupation" class="form-control">
    </div>

    <div class="col-md-12">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="abc@gmail.com">
    </div>


    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>

    <div class="col-md-3">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>

    <div class="col-md-3">
        <label for="inputArea" class="form-label">Area</label>
        <input type="text" class="form-control" id="inputArea">
      </div>

    <div class="col-md-3">
      <label for="inputState" class="form-label">State</label>
      <input type="text" class="form-control" id="inputState">
    </div>

    <div class="col-md-3">
      <label for="inputZip" class="form-label">Pincode</label>
      <input type="text" class="form-control" id="inputZip">
    </div>

    <div class="col-md-6">
        <label for="inputMarStatus"> Marital Status:</label>
        <div class="form-check col">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Married
            </label>
        </div>

        <div class="form-check col">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Unmarried
            </label>
        </div>

    </div>

    <div class="col-md-6">
        <label for="InputDOM">Date of Marriage</label>
        <input type="date" name="" id="InputDOM" class="form-control">
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
</div>
